body,html{
	background: #eee;
	margin: 0;
	padding: 0;
	color: #111;
	height: 100%;
}
.main{
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 100%;
	overflow: visible;
}
@-webkit-keyframes animate-stripes {    
    0% {left:0;opacity: 0;}   
    50% {left:300px;opacity: 1;}    
    100% {left:550px;opacity: 0;}    
}
.logo{
	padding: 20px;
	width: 500px;
	height: 100px;
	top: 20px;
	position: absolute;
	-webkit-animation: animate-stripes 2s linear infinite;
}
.nav{
	width: 100%;
	height: 412px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer{
	font-size: 12px;
	padding: 10px;
	color: #ddd;
}
.nav-bottom{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	left: 0px;
	background: #061830;
}
.item{
	overflow: hidden;
	color: #FFF;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 60px;
	background: #ff8b00;
	box-shadow: 0px -2px 10px #611;
	width: 215px; 
	height: 303px; 
	transition: background 1s ease-out 0s, height 0.3s ease-out 0s, width 0.3s ease-out 0s, left 0.3s ease-out 0s;
	-webkit-transition: background 1s ease-out 0s, height 0.3s ease-out 0s, width 0.3s ease-out 0s, left 0.3s ease-out 0s;
    -o-transition: background 1s ease-out 0s, height 0.3s ease-out 0s, width 0.3s ease-out 0s, left 0.3s ease-out 0s;
	-moz-transition: background 1s ease-out 0s, height 0.3s ease-out 0s, width 0.3s ease-out 0s, left 0.3s ease-out 0s;
}
.item:hover{
	background: #002157;
}
.item-content{
	padding: 10px;
}
.item a{
	color: #DDD;
}
.item-1{
	z-index:1;
}
.item-2{
	z-index:2;
}
.item-3{
	z-index:3;
}
.item-4{
	z-index:2;
}
.item-5{
	z-index:1;
}

a:hover, .title a:hover {
color: #fff;
}
a:hover {
text-decoration: none;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, .date span, h2.tags_heading span {
color: #6caeac;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, .date span, h2.tags_heading span {
color: 
#7DBFBD;
}
a {
-webkit-transition: color .3s ease;
-moz-transition: color .3s ease;
-o-transition: color .3s ease;
transition: color .3s ease;
}
a, a img {
text-decoration: none;
outline: none;
border: none;
}
a:-webkit-any-link:active {
color: -webkit-activelink;
}
user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}