* {
  margin: 0;
  padding: 0
}
body, html {
  height: 100%;
  font-size: 14px;
}
body {
  background-color: #eaeaec;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: green;
}

.doc {
  max-width: 846px;
  margin: 0 auto;
  padding: 0 20px;
}
.body {
  display: flex;
  flex-direction: row;
}
/* 移动端打开时 */
@media all and (max-width: 1080px) {
  .body {
    flex-direction: column;
  }
}
.head {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 36px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei";
}

.side {
  width: 220px;
  margin-right: 60px;
}
.face {
  margin: 0 0 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.face img {
  display: block;
  width: 180px;
  height: 180px;
}
.info {
  margin-top: 20px;
}
.info ul {
  list-style: none;
}
.info ul li {
  margin-left: 2px;
  margin-bottom: 10px;
  display: block;
}
.info i {
  width: 20px;
}

.main {
}
.block {
  padding: 28px 30px;
  margin: 0 0 40px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.content {
  overflow: auto;
}
.content img {
  display: block;
  max-width: 100%;
  margin: 0 0 10px;
}
.content .text {
  font-size: 12px;
  color: #999;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}
.cursor {
  -webkit-animation: flash 1s infinite steps(2);
}
@-webkit-keyframes slide {
  0% {
    width: 0; 
  }
  100% {
    width: 276px;
  }
}
.note {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: slide 11s steps(23);
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #dbdbdb;
}
.footer {
  font-size: 12px;
  margin-bottom: 10px;
}
